{% extends 'base.html.twig' %}
{% block stylesheetsLogin %}
    {{ encore_entry_link_tags('app') }}
    {# <link rel="stylesheet" type="text/css" #}
    {# href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/> #}

{% endblock %}
{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="{{ asset('img/logop.png') }}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="fadeIn second form-control" placeholder="Email">
                <input type="password" name="password" id="inputPassword" class="fadeIn third form-control" placeholder="Password" >

                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
{#            <div id="formFooter">#}
{#                <a class="underlineHover" href="#">Forgot Password?</a>#}
{#            </div>#}

        </div>
    </div>





{#    <div class="container">#}
{#        <div class="row text-center login-page">#}
{#            <div class="col-md-12 login-form">#}
{#                #}
{#                    <div class="row">#}
{#                        <div class="col-md-12 login-form-header">#}
{#                            <p class="login-form-font-header">One<span>Link</span><p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12 login-from-row">#}
{#                            <label for="inputEmail">Email</label>#}
{#                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12 login-from-row">#}
{#                            <label for="inputPassword">Password</label>#}
{#                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12 login-from-row">#}
{#                            <input type="hidden" name="_csrf_token"#}
{#                                   value="{{ csrf_token('authenticate') }}"#}
{#                            >#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row">#}
{#                        <div class="col-md-12 login-from-row">#}
{#                            <button class="btn btn-lg btn-primary" type="submit">#}
{#                                Sign in#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
