{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.area) }}
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary pull-right">{{ button_label|default('Save') }}</button>
<a href="{{ path('sub_area_index') }}" class="btn btn-success btn-round">back to list</a>
{{ form_end(form) }}





