{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.firstNames) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.lastNames) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            {{ form_row(form.document) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form_row(form.documentType) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="areaSelectFor">Area</label>
            <select class="form-control" data-style="btn btn-link" id="areaSelect">
                  <option value="">Select</option>
                {% set area = searchArea() %}
                {% for are in area %}
                    <option value="{{ are.id }}">{{ are.description }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group" id="subArea">
            {{ form_row(form.subArea) }}
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary pull-right">{{ button_label|default('Save') }}</button>
<a href="{{ path('employees_index') }}" class="btn btn-success btn-round" class="btn btn-success btn-round">back to
    list</a>
<div class="clearfix"></div>
{{ form_end(form) }}




