{% extends 'base.html.twig' %}

{% block title %}Area{% endblock %}

{% block body %}
    <h1>Area</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ area.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ area.description }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ area.createdAt ? area.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ area.updatedAt ? area.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('area_index') }}">back to list</a>

    <a href="{{ path('area_edit', {'id': area.id}) }}">edit</a>

    {{ include('area/_delete_form.html.twig') }}
{% endblock %}
